#ensure that *.sh scripts (which are used on docker containers (unix) or directly on unix) are correctly set to LF lineendings
*.sh text eol=lf

#ensure that data dump is not modified by git
/sql/data binary